body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.clear {
    clear: both;
}

.form-control {
    margin-bottom: 5px;
}


table {
        margin-bottom: 5px;
}



.form-signin h3 {
    
        background: #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    cursor: pointer;
}



.emails-box ul li{
    padding: 5px 10px;
    list-style: none;
    background: #eee;
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.emails-box ul li .remove{
    
    
    margin-left: 10px;
    cursor: pointer;
}



.center-item li {
    
    list-style: none;
    padding: 10px;
    background: #eee;
    border: 1px solid;
    margin-bottom: 10px;
}


.center-item li .name {
    float: left;
    margin-right: 20px;
}

.center-item li .remove {
    
    float: right;
    cursor: pointer;
}